.nav {
    background-color: #333333;
    color: #CCCCCC;
    margin: 0 auto;
    font-size: 14px;
}
.main-nav {
    height: 46px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left {
    border-right: 1px solid black;
    text-align: center;
    display: flex;
}
.nav li {
    padding: 12px 10px;
}
.logo {
    width: 184px;
    background: linear-gradient(#f70, #f30);
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}
.left a {
    padding: 20px;
}
ul.right {
    display: flex;
    align-items: center;
}